<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Zielzeit</string>
	<key>CFBundleExecutable</key>
	<string>Zielzeit</string>
	<key>CFBundleIconFile</key>
	<string>Zielzeit</string>
	<key>CFBundleIconName</key>
	<string>Zielzeit</string>
	<key>CFBundleIdentifier</key>
	<string>com.zielzeit.Zielzeit</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>CFBundleName</key>
	<string>Zielzeit</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>LSMinimumSystemVersion</key>
	<string>15.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>Zielzeit</string>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://github.com/Mannafee/zielzeit-scalable-capital/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>3bRE032IL1zIJYC7IxsqaLeN7pO7NVqvEDX94mNOWYU=</string>
</dict>
</plist>
